#primary_ballistic_display{
    background-color: #00424b;
}

#projectiles{
    background-color: rgb(0, 139, 63);
    border: 1px solid;
    color: rgb(235, 255, 244);
}

.config{
    color:white;
}
:root{
    --projectile-color: rgb(181, 212, 3);
    --target-color: rgb(255, 0, 85);
}

body{
    background-color: rgb(0, 0, 0);
}