#primary_ballistic_display{
    background-color: #110d18;
}

#projectiles{
    background-color: aliceblue;
    border: 1px solid;
    color: black;
}

:root{
    --test-variable: brown;
    --projectile-color: rgb(69, 212, 3);
    --target-color: red;
    --conflict-color: orange;
}

body{
    background-color: white;
}